---
title: Add / Remove layers
shortdesc: Add and remove layers in a Map
---
<div class="position-relative h-100">
    <div id="viewerDiv"></div>
    <div class="dropdown m-3 position-absolute top-0 end-0">
        <button class="btn btn-primary" id="addLayer">Add layer</button>
        <button class="ms-3 btn btn-primary" id="removeLayer">Remove layer</button>
    </div>
    <div id="panelDiv" class="position-absolute top-0 start-0 mh-100 overflow-auto"></div>
</div>
