---
title: Cloud Optimized GeoTIFF (COG)
shortdesc: Display a RGB COG
---
<div class="position-relative h-100">
    <div id="viewerDiv"></div>
    <div id="panelDiv" class="position-absolute top-0 start-0 mh-100 overflow-auto"></div>
</div>

