---
title: Elevation COG
shortdesc: Display an elevation COG and triangulate nodata.
---
<div class="position-relative h-100">
    <div id="viewerDiv"></div>
    <div id="panelDiv" class="position-absolute top-0 start-0 mh-100 overflow-auto"></div>
    <div id="infoDiv" class="position-absolute bottom-0 end-0 d-none bg-secondary text-light border border-info px-1"></div>
    <div class="m-2 position-absolute top-0 end-0">

        <!-- Top color layer -->
        <div class="card m-1">
            <div class="container m-1">

                <!-- Activate color map -->
                <div class="row p-1">
                    <div class="form-check form-switch">
                        <input class="form-check-input" checked="true" type="checkbox" role="switch" id="colormap-enable">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Color map</label>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

