---
title: Hillshading
shortdesc: Display a 2.5D map with elevation and hillshades.
---
<div class="position-relative h-100">
    <div id="viewerDiv"></div>
    <div id="panelDiv" class="position-absolute top-0 start-0 mh-100 overflow-auto"></div>
    <div class="p-2 m-2 position-absolute top-0 end-0 card">
        <p class="card-text">Enable hillshading</p>
        <input type="checkbox" checked="true" id="hillshadingCheckbox">
        <p></p>
        <p class="card-text">Color layer opacity</p>
        <input type="range" min="0" max="100" value="0" class="slider" id="opacitySlider">
        <p></p>
        <p class="card-text">Azimuth (0 - 360)</p>
        <input type="range" min="0" max="360" value="315" class="slider" id="azimuthSlider">
        <p></p>
        <p class="card-text">Zenith (0 - 90)</p>
        <input type="range" min="0" max="90" value="45" class="slider" id="zenithSlider">
      </div>
</div>
