---
title: Test case of creating / disposing instances
shortdesc: Help to test if giro3d correctly deallocates memory.
---
<div class="position-relative h-100">
    <style>
#buttons-container {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    padding: 0.5rem;
}
    </style>
    <div id="viewerDiv"></div>
    <div id="panelDiv" class="position-absolute top-0 start-0 mh-100 overflow-auto"></div>
    <div id="buttons-container">
        <div class="form-group">
            <input type="checkbox" id="autoreload" aria-describedby="autoreload-help">
            <label for="autoreload">Click the checkbox if you want giro3d to reload every 2sec</label>
            <small id="autoreload-help" class="form-text text-muted"></small>
        </div>
        <button id="load_once" class="btn btn-primary">Dispose and reload giro3d once</button>
    </div>
</div>
