---
title: Lidar HD demo, colorized by IGN orthophoto WMS
shortdesc: Display a subset of the Lidar HD dataset, converted with py3dtiles (https://oslandia.gitlab.io/py3dtiles/).
---
<div class="position-relative h-100">
    <div id="viewerDiv"></div>
    <div id="panelDiv" class="position-absolute top-0 start-0 mh-100 overflow-auto"></div>
    <div id="infoDiv" class="position-absolute bottom-0 end-0 d-none bg-secondary text-light border border-info px-1"></div>
</div>
