---
title: Partial layers
shortdesc: Illustrates the use of layers partially overlapping their parent map
---
<div class="position-relative h-100">
    <div id="viewerDiv"></div>
    <div id="panelDiv" class="position-absolute top-0 start-0 mh-100 overflow-auto"></div>
</div>
