---
title: 3D Tiles Point Cloud
shortdesc: Display a 3D Tiles point cloud.
---
<div class="position-relative h-100">
    <div id="viewerDiv"></div>
    <div id="panelDiv" class="bg-dark position-absolute top-0 start-0 shadow-sm"></div>
    <div class="m-3 position-absolute top-0 end-0 card">
        <div class="card-body">
            <div id="selectedDiv"></div>
        </div>
    </div>
    <div id="infoDiv" class="position-absolute bottom-0 end-0 d-none bg-secondary text-light border border-info px-1"></div>
</div>
